{
  "parser": "babel-eslint",
  "env": {
    "jasmine": true,
    "jquery": true,
    "es6": true,
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "camelcase": 0,
    "no-script-url": 0,
    "no-alert": 0,
    "default-case": 0,
    "no-console": 0,
    "no-new": 0,
    "no-else-return": 0,
    "func-names": 0,
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
    "window": true,
    "document": true,
  }
}
