.page_home {
  border-radius: 5px;

  .name {
    background: #fff;
  }

  .canvas {
    position: relative;
    width: 900px;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f5f5f5;
  }
}


:global {
  html,
  body {
    background-color: #cfcfcf;
  }
}
