.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249, 249, 249);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  z-index: 99;

  .left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    background-color: #2489b6;
    color: #4fc8ff;
    font-size: 22px;
  }

  .generate {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #eee;

    :global(.iconfont) {
      line-height: 10px;
      padding-right: 5px;
    }

    .btn {
      display: flex;
      align-items: center;
    }
  }

  .right {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .message,
  .setting {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #eee;
    color: #000;

    :global(.iconfont) {
      font-size: 20px;
    }

    &:hover {
      color: #2db7f5;
    }
  }

  .outh {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 13px;

    a {
      color: #000;

      &:hover {
        color: #2db7f5;
      }
    }

    span {
      padding: 0 2px;
    }
  }
}
