.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249, 249, 249);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  z-index: 99;

  .left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    background-color: #2489b6;
    color: #52d1b9;
    font-size: 22px;
  }

  .generate {
    margin-right: 20px;
  }

  .right {
    display: flex;
    align-items: center;
  }
}
