<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    //- link(rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css")
  body
    section#app
    script(src="/lib.js")
    script(src="/common.js")
    if isDev
      script(src="/app.js")  
      script(src="/reload/reload.js")
