<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
    section#app
    if isDev
      script(src="/common.js")
      script(src="/app.js")
      script(src="/reload/reload.js")
