<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    style(type="text/css").
      .field {
        text-align: center;
      }

      .field label {
        display: inline-block;
        padding-right: 10px;
        width: 100px;
        text-align: right;
        margin-bottom: 10px;
      }
  body
    form(action="/login", method="POST")
      .field
        input(type="text", name="username", placeholder="用户名/邮箱")
      .field
        input(type="password", name="password", placeholder="密码")
      .field
        button(type="submit")
          | 登陆
      for message in flash
        a.alert(class='alert-' + message.type)
          p= message.message
